.footerContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 15px;
  color: cornflowerblue;
  bottom: 0;
  position: relative;
  /* margin: 10px 20px; */
}
.footer {
  margin: auto 0;
}
