.searchContainer {
  display: flex;
  width: 50%;
  gap: 10px;
  position: relative;
  margin-left: auto;
}

.searchBar {
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 22px;
  padding: 5px 20px;
  transition: 0.2s;
  width: 100%;
}
.searchBar::placeholder {
  font-size: 15px;
}
.searchItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 20;
  width: 90%;
  top: 60px;
}
.searchButton {
  border: none;
  border-radius: 20px;
  /* font-size: px; */
  background-color: rgb(77, 142, 246);
  color: aliceblue;
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.2s;
}

.searchButton:hover {
  background-color: rgb(32, 115, 247);
}

@media (max-width: 800px) {
  .searchContainer {
    margin-top: 10px;
    width: 100%;
  }
}
