.headerContainer {
  height: 70px;
  display: flex;
  color: rgb(6, 63, 195);
  background-color: aliceblue;
  border-radius: 15px;
  align-items: center;
  padding: 10px 30px;
  margin: 10px 20px;
  box-shadow: 3px 9px 23px -18px rgba(66, 68, 90, 1);
  justify-content: space-between;
}
@media (max-width: 800px) {
  .headerContainer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  /* justify-self: flex-start; */
  color: rgb(67, 120, 241);
  font-size: 56px;
  font-weight: 800;
  transition: 0.2s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1) skew(-18deg, 0deg);
}
