.headerContainer {
  height: 70px;
  display: flex;
  color: rgb(6, 63, 195);
  justify-content: space-between;
  background-color: rgb(215, 237, 248);
  border-radius: 15px;
  align-items: center;
  padding: 10px 30px;
  /* max-width: 1400px; */
  margin: 0 auto;
}

.logo {
  /* justify-self: flex-start; */
  color: rgb(67, 120, 241);
  font-size: 56px;
  font-weight: 800;
  transition: 0.2s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1) skew(-18deg, 0deg);
}

.links {
  gap: 30px;
  /* margin: 0 170px; */
  /* margin-right: auto; */
  display: flex;
  font-size: 23px;
}
